# Segmenting and Clustering Neighborhoods in Toronto

## Downloading all needed dependencies

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
#from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

#import requests # library to handle requests
#from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
#import matplotlib.cm as cm
#import matplotlib.colors as colors

# import k-means from clustering stage
#from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
#import folium # map rendering library

print('Libraries imported.')

Libraries imported.

## Scraping the postal codes of Canada

In [2]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_db5025c900644ceb8b47568c9f8c57ff = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='EdIWvgkEmchshmnNVcpOpwPunP3NoqBEGbGITCzc9nQL',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_db5025c900644ceb8b47568c9f8c57ff.get_object(Bucket='courseracapstone-donotdelete-pr-axwptsovobk1xb',Key='PostalCodesCA.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_8 = pd.read_csv(body)
df_data_8.head()

  Postal Code          Borough                      Neighbourhood
0         M4N  Central Toronto                      Lawrence Park
1         M4P  Central Toronto                   Davisville North
2         M4R  Central Toronto  North Toronto West- Lawrence Park
3         M4S  Central Toronto                         Davisville
4         M4T  Central Toronto        Moore Park- Summerhill East

In [3]:
# Creating dataframe with sorted values by respective postal codes
pcodesca=df_data_8.sort_values(by=['Postal Code'])
pcodesca.head()

   Postal Code      Borough                           Neighbourhood
75         M1B  Scarborough                          Malvern- Rouge
76         M1C  Scarborough  Rouge Hill- Port Union- Highland Creek
77         M1E  Scarborough       Guildwood- Morningside- West Hill
78         M1G  Scarborough                                  Woburn
79         M1H  Scarborough                               Cedarbrae

In [4]:
pcodesca.shape

(103, 3)

## Reading longitudes and latitudes

In [5]:
body = client_db5025c900644ceb8b47568c9f8c57ff.get_object(Bucket='courseracapstone-donotdelete-pr-axwptsovobk1xb',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_7 = pd.read_csv(body)
df_data_7.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
latlon1=df_data_7
latlon1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
# Creating dataframe with sorted values by respective postal codes
latlon=latlon1.sort_values(by=['Postal Code'])
latlon.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
latlon.shape

(103, 3)

## Appending latidues and longitudes to each postal code

In [9]:
pcodesca['Latitude']=pd.Series(latlon['Latitude'])
pcodesca['Longitude']=pd.Series(latlon['Longitude'])
pcodesca.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
75,M1B,Scarborough,Malvern- Rouge,43.669542,-79.422564
76,M1C,Scarborough,Rouge Hill- Port Union- Highland Creek,43.669005,-79.442259
77,M1E,Scarborough,Guildwood- Morningside- West Hill,43.647927,-79.419750
78,M1G,Scarborough,Woburn,43.636847,-79.428191
79,M1H,Scarborough,Cedarbrae,43.713756,-79.490074

## Creating new dataframe with complete data

In [10]:
PostalCodes=pcodesca.reset_index(drop=True)
PostalCodes.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,Malvern- Rouge,43.669542,-79.422564
1,M1C,Scarborough,Rouge Hill- Port Union- Highland Creek,43.669005,-79.442259
2,M1E,Scarborough,Guildwood- Morningside- West Hill,43.647927,-79.419750
3,M1G,Scarborough,Woburn,43.636847,-79.428191
4,M1H,Scarborough,Cedarbrae,43.713756,-79.490074